# Ignore node_modules from both Frontend and server
Backend/node_modules/
Frontend/node_modules/

# Environment variables
Frontend/.env
Backend/.env

# Logs
*.log

# OS/system/editor files
.DS_Store
.vscode/

# Build artifacts
Frontend/build/
Frontend/dist/
